.btn {
	transition: all linear 0.1s;
	display: inline-block;
	padding: 10px 25px;
	border: solid 1px #ff00f5;
	text-decoration: none;
	color: #ff00f5;
	border: solid 1px #ff00f5;
	font-weight: 500;
	border-radius: 20px;
	opacity: 0.7;
	margin-top: 10px;
	text-align: center;
	svg {
		margin-right: 8px;
	}
	&:hover {
		opacity: 1;
		background: #ff00f5;
		color: #fff;
	}
}
